<?xml version="1.0" encoding="UTF-8"?>

<!--
     Copyright 2020 Intel Corporation
     SPDX-License-Identifier: Apache 2.0
-->

<configuration>
    <property scope="context" resource="application.yml" />
    <include resource="logback-console.xml"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
